* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #161616;
    --main-color: #f0c4ff;
    --text-color: #ffffff;
    --text--sec-color: #ffffff71;
}

body {
    color: var(--text-color);
}

.ngl {
    position: relative;
    background: rgb(255,0,159);
    background: linear-gradient(315deg, rgba(255,0,159,1) 0%, rgba(255,98,0,1) 57%, rgba(255,93,0,1) 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.ngl .ngl_content {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #ffffff82;
    overflow: hidden;
}

.ngl .ngl_content .acc {
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.ngl .ngl_content .acc .img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.ngl .ngl_content .acc .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ngl .ngl_content .acc .desc_acc h3 {
    font-size: 15px;
}

.ngl .ngl_content .acc .desc_acc h3:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    color: #00000085;
}

.ngl .ngl_content .message {
    padding: 10px;
}

#contactForm {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input_container {
    background: #fff;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    gap: 10px;
    font-weight: 600;
    border-radius: .3rem;
    border: 2px solid #ff6200;
}

.input_container i {
    font-size: 20px;
}

.input_container input {
    all: unset;
    font-size: 12px;
    width: 100%;
}

#contactForm textarea {
    resize: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: .3rem;
    border: 2px solid #ff6200;
    font-weight: 600;
}

#contactForm textarea:focus {
    outline: none;
}

#contactForm button {
    all: unset;
    background: #1D2B53;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 94%;
    border-radius: .3rem;
    text-align: center;
}

.text_content {
    width: 100%;
    position: relative;
}

.text_content .shuffle_text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    color: #ff5d00;
}

/* Index CSS */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 99;
}

.header .logo {
    width: 90px;
}

.header .logo a {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    }

.header .title {
    font-size: 25px;
    letter-spacing: 1.5px;
    color: var(--main-color);
    font-family: "Teko", sans-serif;
}

.header .icon {
    width: 90px;
    display: flex;
    justify-content: flex-end;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 4px;
}
#bar2 {
    transition-duration: .8s;
}

#bar1,#bar3 {
    width: 70%;
}

#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.header .more {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    height: 1px;
    opacity: 0;
    top: 55px;
    right: 10px;
    overflow: hidden;
    transition: .5s ease;
}

.header .more.active {
    height: 110px;
    opacity: 1;
}

.header .more .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid var(--main-color);
    width: 100%;
    border-radius: 10px;
}

.header .more .content.rating i {
    color: #ffd95d;
}

.header .more .content i {
    color: #6baeff;
}

.header .more .content h3 {
    font-size: 14px;
}

/* HOME CSS */
.home {
    position: relative;
    padding: 5rem 10px;
    background: var(--bg-color);
    min-height: 100vh;
}

.home .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .profile .img {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.home .profile .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.home .profile .img .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6baeff;
    color: var(--bg-color);
    border: 5px solid var(--bg-color);
    border-radius: 100%;
}

.home .profile .tab_review {
    display: flex;
}

.home .profile .tab_review .tab_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    color: var(--text-color);
}

.home .profile .tab_review .tab_box:nth-child(2) {
    position: relative;
    padding: 0 25px;
}

.home .profile .tab_review .tab_box:nth-child(2)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 60%;
    background: var(--text--sec-color);
    border-radius: 10px;
}

.home .profile .tab_review .tab_box:nth-child(2)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 3px;
    height: 60%;
    background: var(--text--sec-color);
    border-radius: 10px;
}

.home .profile .tab_review .tab_box h1 {
    color: var(--main-color);
}

.home .profile .tab_review .tab_box h3 {
    font-size: 15px;
    color: var(--text--sec-color);
}

.home .profile .btn_content {
    display: flex;
    margin: 15px 0;
    gap: 10px;
}

.home .profile .btn_content .btn {
    background: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    border-radius: .3rem;
}

.home .profile .btn_content .btn:first-child {
    width: 150px;
}

.home .profile .bio {
    font-weight: 600;
    color: var(--text-color);
}

/* CONTAINER */
.container {
    width: 100%;
    margin-top: 20px;
}

.container .nav_list {
    position: sticky;
    top: 55px;
    display: flex;
    width: 100%;
    padding-top: 10px;
    background: var(--bg-color);
    z-index: 98;
}

.container .nav_list .nav_box {
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid var(--text--sec-color);
    color: var(--text--sec-color);
    cursor: pointer;
    transition: .5s;
}

.container .nav_list .nav_box.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.container .box_wrapper {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.container .box_wrapper .box_grid {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
}

.container .box_wrapper .box_grid.active {
    display: grid;
    z-index: 97;
}

.container .box_wrapper .box_grid .box_item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.container .box_wrapper .box_grid .box_item::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-radius: 0 0 10px 0;
}

.container .box_wrapper .box_grid .box_item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: 4px solid var(--main-color);
    border-top: 4px solid var(--main-color);
    border-radius: 10px 0 0 0;
}

.container .box_wrapper .box_grid .box_item .img {
    background: red;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: .3rem;
    overflow: hidden;
}

.container .box_wrapper .box_grid .box_item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box_wrapper .box_grid .box_item h4 {
    font-size: 12px;
}

.container .box_wrapper .box_grid .box_item h3 {
    font-size: 15px;
    color: var(--main-color);
}

.container .box_wrapper .box_grid .box_item .open {
    position: relative;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
}

.container .box_wrapper .box_grid:nth-child(2) {
    grid-template-columns: repeat(1, 1fr);
}

.container .box_wrapper .box_grid .empty {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .box_wrapper .box_grid .empty i {
    font-size: 25px;
    color: var(--text--sec-color);
}

.container .box_wrapper .box_grid .empty h3 {
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: var(--text--sec-color);
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: var(--bg-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 10px;
}

.footer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: var(--text-color);
    font-size: 20px;
}

#instagram {
    background: linear-gradient(125deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

#telegram {
    background: #27A7E7;
}

#whatsapp {
    background: #25D366;
}

#github {
    background: #000;
    border: 1px solid var(--main-color);
}

#ngl {
    background: rgb(255,0,159);
    background: linear-gradient(315deg, rgba(255,0,159,1) 0%, rgba(255,98,0,1) 57%, rgba(255,93,0,1) 100%);
    font-family: "Pacifico", cursive;
}

/* About CSS */
.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    z-index: 99;
}

.btn_back {
    font-size: 22px;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text--sec-color);
    min-height: 100vh;
    background: var(--bg-color);
    padding: 5rem 10px;
}

.about i {
    font-size: 25px;
}

.about h3 {
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1.5px;
}